* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 3rem;
    padding: 50px 0px;
}

.solarsys {
    /* background-color: #000; */
    background-image: url("../src/0ac22760-2c80-400d-b6da-d5c9619c1341.jpg");
    height: 120vh;
    width: 100%;
    margin: 0 auto;
    position: relative;
    border: 1px solid white;
    /* border-radius: 50%; */


}

.sun {

    border: 3px solid rgb(31, 64, 170);
    border-radius: 50%;
    position: absolute;
    background-color: #ffdd00;
    color: white;
    height: 150px;
    width: 150px;
    top: 47%;
    left: 52%;
    box-shadow: 0 0 50px;
}

.item {
    position: absolute;
    top: 42%;
    left: 48%;
    border: 1px solid gray;
    border-radius: 50%;

}

.solar {
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 50%;
}

.item-1 {
    width: 300px;
    height: 300px;
    animation: item 10s linear infinite;
}

.item-2 {
    width: 400px;
    height: 400px;
    animation: item 8s linear infinite;
}

.item-3 {
    width: 500px;
    height: 500px;
    animation: item 5s linear infinite;
}

.item-4 {
    width: 600px;
    height: 600px;
    animation: item 6s linear infinite;

}

.solar-1 {
    width: 30px;
    height: 30px;
    background-color: rgb(59, 247, 215);
}

.solar-2 {
    width: 40px;
    height: 40px;
    background-color: rgb(255, 28, 28);
}

.solar-3 {
    width: 50px;
    height: 50px;
    background-color: rgb(117, 241, 34);
}

.solar-4 {
    width: 60px;
    height: 60px;
    background-color: rgb(63, 63, 255);
}





@keyframes item {
    from {
        /* width: 100px; */

    }

    to {
        /* width: 100px;
        height: 100px; */
        transform: rotate(360deg);
    }

}